{% extends '_layout.html' %}

{% block title %}
Application
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
<script src="{{ url_for('static', filename='js/application.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container-fluid bg-secondary p-2" style="height: 100vh; width: 100%; overflow-x: hidden;">
    <div class="moving-container">
        <div class="container-fluid bg-secondary p-2">
            <div class="row p-2">
                <div class="col-md-9">
                    <h1 class="text-light">
                        User Application
                    </h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: 50%; margin: 0 auto;">
            <div class="text-light container-fluid bg-dark p-1 px-4 rounded mb-4 h-100">
                <div class="mt-4"></div>
                <h3 class="text-light text-center">
                    Please answer the following questions to the best of your ability:
                </h3>
                <div class="mt-4"></div>
                {% for question in questions %}
                <div class="form-group">
                    <label for="{{ question[1] }}">{{ question[2] }}</label>
                    <textarea class="form-control" id="{{ question[1] }}" name="{{ question[1] }}" rows="2"></textarea>
                    <div class="mt-4"></div>
                </div>
                {% endfor %}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit Application</button>
                </div>
                <div class="mt-4"></div>
            </div>
        </div>
    </div>
    <div>
{% endblock %}