{% extends '_layout.html' %}

{% block title %}
Application
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
<script src="{{ url_for('static', filename='js/application.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container-fluid bg-secondary p-2" style="height: 100vh; width: 100%; overflow-x: hidden;">
    <div class="moving-container">
        <div class="container-fluid bg-secondary p-2">
            <div class="row p-2">
                <div class="col-md-9">
                    <h1 class="text-light">
                        User Application
                    </h1>
                </div>
            </div>
        </div>
        <div class="row" style="width: 50%; margin: 0 auto;">
            <div class="text-light container-fluid bg-dark p-1 px-4 rounded mb-4 h-100">
                <div class="mt-4"></div>
                <h3 class="text-light text-center">
                    Please answer the following questions to the best of your ability:
                </h3>
                <div class="mt-4"></div>
                <form method="POST" action="{{ url_for('submit_application', posting_id=posting_id) }}">
                    {% for question in questions %}
                    <div class="form-group">
                        <label for="question{{ question[0] }}">{{ question[2] }}</label>
                        <textarea class="form-control" id="question{{ question[0] }}" name="answers[{{ question[0] }}]" rows="2" required></textarea>
                        <div class="mt-4"></div>
                    </div>
                    {% endfor %}
                    <input type="hidden" name="posting_id" value="{{ posting_id }}">
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Submit Application</button>
                    </div>
                </form>
                <div class="mt-4"></div>
            </div>
        </div>
    </div>
    <div>
{% endblock %}