{% extends "_layout.html" %}
{% block title %}Home{% endblock %} <!-- page title -->

{% block body %}


<div class="d-flex flex-column align-items-center">
    <!-- Image banner -->
    <div class="d-flex justify-content-between">
        <img src="../static/00f0dfd3-d902-49ef-80de-5889e1e0f1f0.png" alt="pic1" class="h-32" style="width: 10%;" />
        <img src="../static/istockphoto-172992784-612x612.jpg" alt="pic2" class="h-32" style="width: 10%;" />
        <img src="../static/3c096ea1-468b-4b0c-bd6a-0d866ee1a038.png" alt="pic3" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-03-25 204433.jpg" alt="pic4" class="h-32" style="width: 10%;" />
        <img src="../static/bbe44a80-b2cb-460a-aba1-7569f5bfc62a.png" alt="pic5" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-03-25 204524.jpg" alt="pic6" class="h-32" style="width: 10%;" />
        <img src="../static/815286f0-dea7-4cf4-8ca8-69ffdcf6e5db.png" alt="pic7" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-03-25 204623.jpg" alt="pic8" class="h-32" style="width: 7%;" />
        <img src="../static/96157713-3b75-4ca8-9120-797c1fa1cd2c.png" alt="pic9" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-03-25 204720.jpg" alt="pic10" class="h-32" style="width: 8%;" />
    </div>

    <!-- Slogan -->
    <div class="text-center ">
        <div class=" mt-5 mb-5">
            <h1 class="text-3xl font-semibold mb-5">TheWaterCooler</h1>
        </div>

        <div class=" mt-5 mb-5">
            <h3>Find what works for you, today!</h3>
        </div>

        <div class=" mt-5 mb-5">
            <a href="job_search.html" class="btn btn-primary">Browse Listings</a>
        </div>

        <div class=" mt-5 mb-5">
            <p>At TheWaterCooler, we believe that the act of job searching is stressful enough. Why make it difficult? <br>
                Our vision is a simplified, streamlined experience for those searching and applying for jobs.</p>
        </div>
    </div>


    <!-- Image banner -->
    <div class="d-flex justify-content-between mt-5">
        <img src="../static/Screenshot 2024-05-01 092345.jpg" alt="pic16" class="h-32" style="width: 10%;" />
        <img src="../static/7f1ff051-d68d-48b7-9ceb-eb2be465ddae.png" alt="pic11" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-05-01 092555.jpg" alt="pic17" class="h-32" style="width: 10%;" />
        <img src="../static/52cc8992-7840-4a87-bc08-7a9ebf0e3203.png" alt="pic12" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-05-01 092811.jpg" alt="pic18" class="h-32" style="width: 10%;" />
        <img src="../static/a033fc45-7772-4378-8910-6c4f6481d36e.png" alt="pic13" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-05-01 092845.jpg" alt="pic19" class="h-32" style="width: 10%;" />
        <img src="../static/ddd51e9d-fa35-4e4c-a47b-b99c8e3a82a4.png" alt="pic14" class="h-32" style="width: 10%;" />
        <img src="../static/Screenshot 2024-05-01 092956.jpg" alt="pic20" class="h-32" style="width: 10%;" />
        <img src="../static/34abdd55-795c-48be-af99-5397486a64d5.png" alt="pic15" class="h-32" style="width: 10%;" />
    </div>
</div>
{% endblock %}