{% extends '_layout.html' %}

{% block title %}Job Search{% endblock %}

{% block body %}
<div class="container">
  <h1 class="display-4 font-weight-bold text-center">Job Openings</h1>

  <div class="row mt-4">
    <div class="col-md-3">
      <input type="text" placeholder="Search Jobs..." class="form-control">
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Location" class="form-control">
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Department" class="form-control">
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Work Type" class="form-control">
    </div>
  </div>

  {% for job in job_posting %}
    <div class="mt-4">
      <div class="card border-secondary rounded-lg">
        <div class="card-body">
          <h2 class="card-title h4 font-weight-bold">{{ job.job_title }}</h2>
          <ul class="list-unstyled">
            <li><strong>Description:</strong> {{ job.description }}</li>
            <li><strong>Salary:</strong> {{ job.salary }}</li>
          </ul>
          <button class="btn btn-primary">View</button>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
