{% extends "_layout.html" %}
{% block title %}Landing{% endblock %}  <!-- page title -->

{% block body %}


<!-- Image banner -->
<div class="flex justify-center">
    <img src="../static/00f0dfd3-d902-49ef-80de-5889e1e0f1f0.png" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />
    <img src="../static/istockphoto-172992784-612x612.jpg" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />
    <img src="../static/3c096ea1-468b-4b0c-bd6a-0d866ee1a038.png" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />

    <img src="../static/Screenshot 2024-03-25 204433.jpg" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />
    <img src="../static/bbe44a80-b2cb-460a-aba1-7569f5bfc62a.png" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />

    <img src="../static/Screenshot 2024-03-25 204524.jpg" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />
    <img src="../static/815286f0-dea7-4cf4-8ca8-69ffdcf6e5db.png" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />
    <img src="../static/Screenshot 2024-03-25 204623.jpg" alt="The Water Cooler Logo" class="h-32" style="width: 7%;" />
    <img src="../static/96157713-3b75-4ca8-9120-797c1fa1cd2c.png" alt="The Water Cooler Logo" class="h-32" style="width: 10%;" />

    <img src="../static/Screenshot 2024-03-25 204720.jpg" alt="The Water Cooler Logo" class="h-32" style="width: 8%;" />
</div>

<!-- Slogan Splash -->
<h1 class="text-3xl font-semibold text-center mt-8">Connecting Just The Right People</h1>

<!-- input fields / buttons -->
<div>
    <input type="text" name="input_subject" placeholder="What are you looking for...?">
</div>
<div>
    <input type="text" name="input_location" placeholder="Where are you looking...?">
</div>

<div>
    <button>Search Postings</button>
    <button>Search People</button>
</div>


<div>
    <button>Search Reviews</button>
    <button>Search Salaries</button>
</div>


{% endblock %}