{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/signup_form.js') }}"></script>
<form id="signupForm" class="w-50" onsubmit="signup(event)" enctype="multipart/form-data">
    <div class="mt-2 mb-2" id="profileTypeContainer">
        <label for="profileType">Create an Individual or Company Profile?</label>
        <select class="form-select" id="profileType" name="profileType" required>
            <option selected>Select a Profile Type</option>
            <option value="user">Individual</option>
            <option value="company">Company</option>
        </select>
    </div>
    <div id="signupInfo">
    </div>
    <div id="signupExtras">
    </div>
    <button type="submit" style="display: none" id="submitButton" class="btn btn-dark mt-2 mb-2">Signup</button>
</form>
{% endblock %}